<div ng-init="itens = [{numero: 1, descricao: 'Feijão tropeiro', quantidade: '2'},
                         {numero: 2, descricao: 'Arroz branco', quantidade: '2'},
                         {numero: 3, descricao: 'Suco de laranja', quantidade: '2'}]"></div>
                        
   <div class="row well well-sm">
  	<center><h2><b class="fa fa fa-pencil-square-o"> Alterar Pedido</b></h2></center>
</div>

<div class="row jumbotron">
	<form class="form">
		<div class="box">
	    	<legend>Dados do Cliente</legend>
	      	<div class="row">
				<div class="col-md-10">
					 <div class="form-group">
	                     <label for="nomCliente" class="control-label">Nome</label>
					 	 <input type="text" class="form-control" id="nomCliente" placeholder="Cliente" value="Priscila Alcântara">
                     </div>
				</div>
				
				<div class="col-md-2">
					 <div class="form-group">
						<label for="carroCliente" class="control-label">Possui carro</label>
						<div class="radio" name="carroCliente">
							<label><input type="radio" name="carroCliente" onclick="carroClientes();" value="2">Não</label>
							<label><input checked="checked" type="radio" name="carroCliente" onclick="carroClientes();" value="1">Sim</label>
                     	</div>
					</div>
				</div>			
			</div>
			
			
		</div>		
		<br>
		<div class="box" id="dadosCarro">
	    	<legend>Dados do Veículo</legend>
	      	<div class="row">				
				
				<div class="col-md-4">
					 <div class="form-group">
	                     <label for="placa" class="control-label">Placa</label>
					 	 <input type="text" class="form-control" name="placa" placeholder="Cliente" value="ABC-9087">
                     </div>
				</div>
				
				<div class="col-md-4">
					 <div class="form-group">
	                     <label for="marca-modelo" class="control-label">Marca/Modelo</label>
					 	 <input type="text" class="form-control" id="marca-modelo" placeholder="Cliente" value="Chevrolet Prisma">
                     </div>
				</div>
				
				<div class="col-md-4">
					 <div class="form-group">
	                     <label for="cor" class="control-label">Cor</label>
					 	 <input type="text" class="form-control" id="cor" placeholder="Cliente" value="Prata">
                     </div>
				</div>				
						
			</div>			
			
		</div>
		<br>
		<div class="box">
	    	<legend>Dados do Pedido</legend>
	      	<div class="row">		
				
				<div class="col-md-2">
					 <div class="form-group"> <label for="numero">Número</label>
				  <input class="form-control input-sm" id="numero" name="numero" value="34" type="text" disabled>
                     </div>
				</div>
				
				<div class="col-md-2">
					 <div class="form-group">
						 <label for="mesa">Mesa</label>
					  	 <input class="form-control input-sm" id="mesa" name="mesa" value="10" type="text">
                     </div>
				</div>
				
				<div class="col-md-8">
					 <div class="form-group float-right">
	                     <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalAdidionarItem" style="margin-top:20px;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo Item</button>
                     </div>
				</div>				
						
			</div>
			<br>
			<div id="divItensPedido" class="table-responsive box-white">
				<table class="table table-hover" id="itensPedido">
				  <thead style="background: #F5F5F5;">
					    <tr>
					      <th><center>#</center></th>
					      <th><center>Descrição</center></th>
					      <th><center>Quantidade</center></th>
					      <th width="200px"><center>Ações</center></th>
					    </tr>
					  </thead>
					  <tr ng-repeat="item in itens">
					  	<td><center>{{item.numero}}</center></td>
			    		<td><center>{{item.descricao}}</center></td>
			    		<td>
							<center>
								<span class=""><i class="fa fa-plus-square" aria-hidden="true"></i></span>
								<span> {{item.quantidade}}</span>
								<span class=""><i class="fa fa-minus-square" aria-hidden="true"></i></span>
							</center>
						</td>
			    		
			    		<td>
			    			<center>
						      	
						      	<a type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalCancelar"><i class="fa fa-times-circle" aria-hidden="true"></i> Devolver</a>
						      	<a ng-class="{active: activetab == '/alterar'}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover</a>
						    </center>
						</td>
			    	  </tr>	
					  <tbody>
					    
					  </tbody>
					</table>			
			</div>
		</div>				
			
	</div>	
					
  </form>

</div>

<!-- Modal -->
<div id="modalAdidionarItem" class="modal fade" role="dialog">
  <div class="modal-dialog">
<meta charset="UTF-8">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo Item</h4>
      </div>
      <div class="modal-body">
      	<div class="box">
      		<form class="form-horizontal">
			  <fieldset>
			  <div class="col-md-9">			    
				    <span class="form-group">
				      <label for="item" class="control-label">Item</label>
				  
				      <input type="text" required autocomplete="off" class="form-control" id="item" placeholder="item">
				  
				    </span>
			    </div>
			    
			    <div class="col-md-3">
				    <span class="form-group">
				      <label for="quantidadeItem" class="control-label">Quantidade</label>
				 	  <input type="number" class="form-control" id="quantidadeItem" placeholder="QTD" required="required" autocomplete="off">
				  
				    </span>
			    </div>
			  </fieldset>
			</form>
      	</div>
        
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa fa-reply" aria-hidden="true"></i>Voltar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="AdicionaLinha();"><i class="fa fa-plus-circle" aria-hidden="true"></i> Adiconar</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="modalSalvarPedido" class="modal fade" role="dialog">
  <div class="modal-dialog">
   <meta charset="UTF-8">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</h4>
      </div>
      <div class="modal-body">
      	<div class="alert alert-success">
      		<center>
      			Alterações salvas com sucesso. 
      		</center>
      		
      	</div>
        
      </div>
      <div class="modal-footer">
      	<a ng-click="salvar()" class="btn btn-default" ng-class="{active: activetab == '/'}">Ok</a>
       
      </div>
    </div>

  </div>
</div>
