    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Brand
                    </a>
                </li>
                <li>
                     <a href="#/pedidosGarcom"> Pedidos</a>
                </li>
                <li>
                    <a  href="#/entregas"> Entregas</a>
                </li>
                <li>
                    <a href="#/pagamentos"> Pagamentos</a>
                </li>
                <li>
                    <a href="#">Team</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="https://twitter.com/maridlcrmn">Follow me</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container">
            
            
            
            
            
            
            
            <div class="row">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header btn-group" style="margin-top: 5px;">
      <a class="btn btn-default" href="#/pedidosGarcom"> Pedidos</a>
      <a class="btn btn-default" href="#/entregas"> Entregas</a>
      <a class="btn btn-default" href="#/pagamentos"> Pagamentos</a> 
      
             <li class="dropdown btn btn-default""><a class="dropdown-toggle" data-toggle="dropdown">Funcionário</a>
                 <ul class="dropdown-menu">
                     <li><a href="#/cadastrarFuncionario">Cadastrar</a></li>
                     <li><a href="#/listarFuncionario">Listar</a></li>
                 </ul>
             </li>
            <li class="dropdown btn btn-default""><a class="dropdown-toggle" data-toggle="dropdown">Pedidos</a>
                <ul class="dropdown-menu">
                    <li><a href="#/pedidosGarcom">Pedidos Garçom</a></li>
                    <li><a href="#/cadastrarPedidos">Cadastrar Pedidos</a></li>
                </ul>
            </li>
            <li class="dropdown btn btn-default""><a class="dropdown-toggle" data-toggle="dropdown">Relatórios</a>
                <ul class="dropdown-menu">
                    <li><a href="#/relatorioEficiencia">Eficiência</a></li>
                    <li><a href="#/relatorioDevolucoes">Devoluções</a></li>
                </ul>
            </li>
   
    </div>
    <a href="#" class="dropdown-toggle btn btn-default" style="margin-top: 5px; float: right;" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa fa-sign-out"></i> Sair</a>
          
    <img src="images/xicara.gif" class="img">
  </div>
</nav>
</div>

            