<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header btn-group" style="margin-top: 5px;">
      <a class="btn btn-default" href="#/pedidosGarcom"><i class="fa fa-cutlery"></i> Pedidos</a>
      <a class="btn btn-default" href="#/entregas"><i class="fa fa-motorcycle"></i> Entregas</a>
      <a class="btn btn-default" href="#/pagamentos"><i class="fa fa-dollar"></i> Pagamentos</a> 
    </div>
    <a href="#" class="dropdown-toggle btn btn-default" style="margin-top: 5px; float: right;" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa fa-sign-out"></i> Sair</a>
          
    <img src="images/xicara.gif" class="img">
  </div>
</nav>