<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header btn-group" style="margin-top: 5px;">
      <a class="btn btn-default" href="#/pedidosGarcom"><i class="fa fa-cutlery"></i> Pedidos</a>
      <a class="btn btn-default" href="#/entregas"><i class="fa fa-motorcycle"></i> Entregas</a>
      <a class="btn btn-default" href="#/pagamentos"><i class="fa fa-dollar"></i> Pagamentos</a>
      
      <a class="btn btn-default" href="#/pedidosGarcom"><i class="fa fa-help"></i> Ajuda</a>
      
 
    </div>
    
    
      	<img src="images/xicara.gif" class="img">
  </div>
</nav>