<meta charset="UTF-8">
                        
<div class="row well well-sm">
  	<center><h2><b class="fa fa fa-pencil-square-o"> Alterar Pedido</b></h2></center>
</div>

<div class="row jumbotron">
	<form class="form">
		<div class="box">
	    	<legend>Dados do Cliente</legend>
	 		        	<div class="row">
							<div class="col-md-6">
								 <div class="form-group">
	                                 <label for="nome">Nome</label>
	                                 <input type="text" class="form-control" nome="nome" placeholder="Nome do Funcionário">
	                             </div>
							</div>
							
							<div class="col-md-2">
								<div class="form-group">
	                                 <label for="telefone">Telefone</label>
	                                 <input type="text" class="form-control" nome="telefone" placeholder="(99)99999-9999">
	                             </div>
							</div>
							
							
						</div>
						
						
		</div>		
		<br>
				<div class="box">
	    	<legend>Dados da Entrega</legend>
						
						<div class="row">
							<div class="col-md-6">
								 <div class="form-group">
	                                 <label for="logradouro">Logradouro</label>
	                                 <input type="text" class="form-control" nome="logradouro" placeholder="logradouro">
	                             </div>
							</div>
							
							<div class="col-md-2">
								<div class="form-group">
	                                 <label for="numero">Número</label>
	                                 <input type="number" class="form-control" nome="numero" placeholder="9999">
	                             </div>
							</div>
							
							<div class="col-md-2">
								<div class="form-group">
	                                 <label for="quadra">Quadra</label>
	                                 <input type="number" class="form-control" nome="quadra" placeholder="99">
	                             </div>
							</div>
							
							<div class="col-md-2">
								<div class="form-group">
	                                 <label for="lote">Lote</label>
	                                 <input type="number" class="form-control" nome="lote" placeholder="99">
	                             </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								 <div class="form-group">
	                                 <label for="bairro">Bairro</label>
	                                 <input type="text" class="form-control" nome="bairro" placeholder="Bairro">
	                             </div>
							</div>
							
							<div class="col-md-2">
								<div class="form-group">
	                                 <label for="cidade">Cidade</label>
	                                  <select id="cidade" class="form-control" style="height: 38px;">
	                                      <option>Goiania</option>
	                                      <option>Ap de Goiania</option>
	                                      <option>Anapolis</option>
	                                      <option>Trindade</option>
	                                   </select>
	                             </div>
							</div>
							
							<div class="col-md-4">
								<div class="form-group">
	                                 <label for="referencia">Referência</label>
	                                 <input type="number" class="form-control" nome="referencia" placeholder="Referência">
	                             </div>
							</div>
							
						</div>	
			
		</div>		
		<br>
		
		<div class="box">
	    	<legend>Dados do Pedido</legend>
	      	<div class="row">		
				
				<div class="col-md-2">
					 <div class="form-group"> <label for="total">Total (R$)</label>
				  <input class="form-control" id="total" name="numero" value="155,00" type="text" disabled>
                     </div>
				</div>
				
				<div class="col-md-2">
					 <div class="form-group">
                         <label for="formaPgto">Forma Pgto</label>
                          <select id="formaPgto" class="form-control" style="height: 38px;">
                              <option>Dinheiro</option>
                              <option>Cartão</option>
                              <option>Cheque</option>
                           </select>
                     </div>
				</div>
				
				<div class="col-md-8">
					 <div class="form-group float-right">
	                     <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalAdidionarItem" style="margin-top:20px;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo Item</button>
                     </div>
				</div>				
						
			</div>
			<br>
			<div id="divItensPedido" class="table-responsive box-white oculto">
				<table class="table table-hover" id="itensPedido">
				  <thead style="background: #F5F5F5;">
					    <tr>
					      <th><center>#</center></th>
					      <th><center>Descrição</center></th>
					      <th><center>Quantidade</center></th>
					      <th width="200px"><center>Ações</center></th>
					    </tr>
					  </thead>
					  <tr ng-repeat="item in itens">
					  	<td><center>{{item.numero}}</center></td>
			    		<td><center>{{item.descricao}}</center></td>
			    		<td>
							<center>
								<span class=""><i class="fa fa-plus-square" aria-hidden="true"></i></span>
								<span> {{item.quantidade}}</span>
								<span class=""><i class="fa fa-minus-square" aria-hidden="true"></i></span>
							</center>
						</td>
			    		
			    		<td>
			    			<center>
						      	
						      	<a type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalCancelar"><i class="fa fa-times-circle" aria-hidden="true"></i> Devolver</a>
						      	<a ng-class="{active: activetab == '/alterar'}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover</a>
						    </center>
						</td>
			    	  </tr>	
					  <tbody>
					    
					  </tbody>
					</table>			
			</div>
		</div>
		<br>
		<div class="text-right">
			<a href="#/pedidosTelefonista" class="btn btn-default"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
			<a class="btn btn-info" data-toggle="modal" data-target="#modalSalvarPedido"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</a>
		</div>					
			
	</div>
	
					
  </form>

</div>

<!-- Modal -->
<div id="modalAdidionarItem" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo Item</h4>
      </div>
      <div class="modal-body">
      	<div class="box">
      		<form class="form-horizontal">
			  <fieldset>
			  <div class="col-md-9">			    
				    <span class="form-group">
				      <label for="item" class="control-label">Item</label>
				  
				      <input type="text" required autocomplete="off" class="form-control" id="item" placeholder="item">
				  
				    </span>
			    </div>
			    
			    <div class="col-md-3">
				    <span class="form-group">
				      <label for="quantidadeItem" class="control-label">Quantidade</label>
				 	  <input type="number" class="form-control" id="quantidadeItem" placeholder="QTD" required="required" autocomplete="off">
				  
				    </span>
			    </div>
			  </fieldset>
			</form>
      	</div>
        
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa fa-reply" aria-hidden="true"></i>Voltar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="AdicionaLinha();"><i class="fa fa-plus-circle" aria-hidden="true"></i> Adiconar</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="modalSalvarPedido" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</h4>
      </div>
      <div class="modal-body">
      	<div class="alert alert-success">
      		<center>
      			Pedido salvo comsucesso.<br>
      			Pedido número<br>
      			<h4>34</h4>
      		</center>
      		
      	</div>
        
      </div>
      <div class="modal-footer">
      	<a ng-click="salvar()" class="btn btn-default" ng-class="{active: activetab == '/'}">Ok</a>
       
      </div>
    </div>

  </div>
</div>
