<div class="page-header">
<div ng-init="entregas = [{numero: 1, telefonista: 'Fernanda Almeida', valor: '39,00'},
                         {numero: 4, telefonista: 'joana Carvalho', valor: '76,80'},
                         {numero: 6, telefonista: 'joana Carvalho', valor: '130,90'},
                         {numero: 16, telefonista: 'Júlia Lara', valor: '45,00'},
                         {numero: 20, telefonista: 'Fernanda Almeida', valor: '205,90'}]"></div>

   <div class="well well-sm">
		  	<center><h2><b class="fa fa-motorcycle"> Entregas</b></h2></center>
		</div>
		<div class="jumbotron" style="background:white; border: solid; border-width: 1px; border-color: lightgray;">
			
			<div class="row" style="margin-bottom: 30px;">
			
			  <div class="col-md-10 col-xs-12">
			    <div class="input-group">
			      
			      <input type="text" id="pesquisa" ng-model="pesquisa" class="form-control" placeholder="Pesquisa">
			      <span class="input-group-btn" >
			        <button class="btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			  
			  <span class="col-md-2 col-xs-12" ng-class="{active: activetab == '/cadastrar'}">
			  	
			 	 <a class="btn btn-default"  href="#/encaminharEntregas"><i class="fa fa-motorcycle" aria-hidden="true"></i> Encaminhar</a>
			  </span>
			  
			</div><!-- /.row -->
			
			<div class="table-responsive">
				<table class="table table-hover">
				  <thead style="background: #F5F5F5;">
					    <tr>
					      <th><center>#</center></th>
					      <th><center>Telefonista</center></th>
					      <th><center>Valor</center></th>
					      <th width="200px"><center>Ações</center></th>
					    </tr>
					  </thead>
					  <tbody>
					  <tr ng-repeat="entrega in entregas | filter:pesquisa">
					  	<td><center>{{entrega.numero}}</center></td>
			    		<td><center>{{entrega.telefonista}}</center></td>
			    		<td><center>{{entrega.valor}}</center></td>
			    		<td>
			    			<center>
						      	<a class="btn btn-success btn-xs"><i class="fa fa-check-square-o" aria-hidden="true"></i> Confirmar</a>
						      	<a type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalCancelar"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
						    </center>
						</td>
			    	  </tr>					  
					  </tbody>
					</table>
							
			</div>
	</div>
</div>

<!-- Modal -->
<div id="modalCancelar" class="modal fade" role="dialog">
  <div class="modal-dialog">
<meta charset="UTF-8">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar Pedido</h4>
      </div>
      <div class="modal-body">
      	<div class="box">
      		<form class="form-horizontal">
			  <fieldset>
			    <legend>Permissão Superior</legend>
			    			    
			    <div class="form-group">
			      <label for="motivo" class="col-lg-2 control-label">Descrição</label>
			      <div class="col-lg-10">
			        <textarea class="form-control" rows="2" id="motivo" disabled>Suco de laranja</textarea>
			      </div>
			    </div>			    
			    
			    <div class="form-group">
			      <label for="motivo" class="col-lg-2 control-label">Motivo</label>
			      <div class="col-lg-10">
			        <textarea class="form-control" rows="3" id="motivo"></textarea>
			        <span class="help-block">Digite detalhadamente o motivo do cancelamento.</span>
			      </div>
			    </div>
			    
			    <div class="form-group">
			      <label for="senha" class="col-lg-2 control-label">Senha</label>
			      <div class="col-lg-10">
			        <input type="password" class="form-control" id="senha" placeholder="senha">
			      </div>
			    </div>
			    
			  </fieldset>
			</form>
      	</div>
        
      </div>
      <div class="modal-footer">
      	<a class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
        <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i> Confirmar</a>
      </div>
    </div>

  </div>
</div>
