
	<div ng-init="funcionarios = [{numero: 1, cargo: 'Telefonista' , nome: 'Fernanda Almeida', telefone: '6292551122'},
							 {numero: 2, cargo: 'Operadora de Caixa' , nome: 'Joana Carvalho', telefone: '6292551122'},
							 {numero: 3, cargo: 'Gerente' , nome: 'Maria Souza', telefone: '6292551122'},
							 {numero: 4, cargo: 'Vendedora', nome: 'Júlia Lara', telefone: '6292551122'},
							 {numero: 5, cargo: 'Chefe de Cozinha',nome: 'Maria Clara Silva', telefone: '6292551122'}]"></div>

   			<div class="well row well-sm">
		  		<center><h2><b class="fa fa-user"> Listar Funcionários</b></h2></center>
			</div>
		<div class="row jumbotron">
			<div class="row distanciaTop-30 box" >
				  
					<div class="input-group">
					  <input type="text" id="pesquisa" ng-model="pesquisa" class="form-control" placeholder="Pesquisa">
					  <span class="input-group-btn" >
						<button class="btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
					  </span>
					</div>
			</div>
			<div class="row table-reponsive box-white">
				<table class="table table-hover">
							  <thead style="background: #F5F5F5;">
											<tr>
											  <th><center>Código</center></th>
											  <th><center>Cargo</center></th>
											  <th><center>Nome</center></th>
											  <th><center>Telefone</center></th>
											  <th><center>Ações</center></th>
											</tr>
							  </thead>
					  <tbody>
						  <tr ng-repeat="funcionario in funcionarios | filter:pesquisa">
							<td><center>{{funcionario.numero}}</center></td>
							<td><center>{{funcionario.cargo}}</center></td>
							<td><center>{{funcionario.nome}}</center></td>
							<td><center>{{funcionario.telefone}}</center></td>
							<td>
				    			<center>
	                                <a href="#/cadastrarFuncionario" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Alterar</a>
							      	<a type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalRemover"><i class="fa fa-times-circle" aria-hidden="true"></i> Remover</a>
							    </center>
							</td>
				    	  </tr>					  
						  </tbody>
					</table>
			</div>
		</div>

<!-- Modal -->
<div id="modalRemover" class="modal fade" role="dialog">
  <div class="modal-dialog">
<meta charset="UTF-8">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-times-circle" aria-hidden="true"></i> Remover Funcionário</h4>
      </div>
      <div class="modal-body">
      	<div class="box">
      		<form class="form-horizontal">
			  <fieldset>
			    <legend>Permissão Superior</legend>
			    			    
			    <div class="form-group">
			      <label for="motivo" class="col-lg-2 control-label">Descrição</label>
			      <div class="col-lg-10">
			        <textarea class="form-control" rows="2" id="motivo" disabled>Exclusão de Cadastro de Funcionário</textarea>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="motivo" class="col-lg-2 control-label">Motivo</label>
			      <div class="col-lg-10">
			        <textarea class="form-control" rows="3" id="motivo"></textarea>
			        <span class="help-block">Digite detalhadamente o motivo da Exclusão do Funcionário.</span>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="senha" class="col-lg-2 control-label">Senha</label>
			      <div class="col-lg-10">
			        <input type="password" class="form-control" id="senha" placeholder="senha">
			      </div>
			    </div>
			  </fieldset>
			</form>
      	</div>
      </div>
      <div class="modal-footer">
      	<a class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
        <a class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i> Confirmar</a>
      </div>
    </div>

  </div>
  </div>
 
