<meta charset="UTF-8">

<link href="lib/bootstrap-4.0.0-alpha.4/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="row well well-sm">
  	<center><h2><b class="fa fa fa-pencil-square-o"> Pedidos em espera</b></h2></center>
</div>

<div class="row flip-left">

	<div class="row">
		<div class="col-md-3">
			<div class="card card-success text-xs-center">
				<div class="card-header">
				  <h3>Panqueca</h3>
				</div>  
				<div class="card-block" style="background: white;">
				  	<img class="card-img-top img-fluid" src="images/panqueca.png" alt="Card image cap">
				  	<p class="card-text alert alert-info">Sem alface.</p>
				</div>
				  <div class="card-footer text-muted">
				    <a href="#" class="btn btn-success">Entregue</a>
				  </div>
			</div>
		
		</div>
		<div class="col-md-3">
			<div class="card card-success text-xs-center">
				<div class="card-header">
				  <h3>Macarronada</h3>
				</div>  
				<div class="card-block" style="background: white;">
				  	<img class="card-img-top img-fluid" src="images/Macarronada-especial.png" alt="Card image cap">
				   	<p class="card-text alert alert-info">Dobro de molho, sem cebola e sal.</p>
				</div>
				  <div class="card-footer text-muted">
				    <a href="#" class="btn btn-success">Entregue</a>
				  </div>
			</div>
		
		</div>
		 <div class="col-md-3">
			<div class="card card-success text-xs-center">
				<div class="card-header">
				  <h3>Peixe</h3>
				</div>  
				<div class="card-block" style="background: white;">
				  	<img class="card-img-top img-fluid" src="images/peixe-limao.png" alt="Card image cap">
				</div>
				  <div class="card-footer text-muted">
				    <a href="#" class="btn btn-warning">Preparando</a>
				    <a href="#" class="btn btn-success">Entregue</a>
				  </div>
			</div>
		
		</div>
		
		<div class="col-md-3">
			<div class="card card-success text-xs-center">
				<div class="card-header">
				  <h3>Bife Completo</h3>
				</div>  
				<div class="card-block">
				  	<img class="card-img-top img-fluid" src="images/bife-completo.png" alt="Card image cap">
	
				</div>
				  <div class="card-footer text-muted">
				    <a href="#" class="btn btn-warning">Preparando</a>
				    <a href="#" class="btn btn-success">Entregue</a>
				  </div>
			</div>
		
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card card-success text-xs-center">
				<div class="card-header">
				  <h3>Salada de Camarão</h3>
				</div>  
				<div class="card-block" style="background: white;">
				  	<img class="card-img-top img-fluid" src="images/salada-camarao.png" alt="Card image cap">
				   	
				</div>
				  <div class="card-footer text-muted">
				     <a href="#" class="btn btn-warning">Preparando</a>
				    <a href="#" class="btn btn-success">Entregue</a>
				  </div>
			</div>
		
		</div>
		<div class="col-md-3">
			<div class="card card-success text-xs-center">
				<div class="card-header">
				  <h3>Salada de Tomate</h3>
				</div>  
				<div class="card-block" style="background: white;">
				  	<img class="card-img-top img-fluid" src="images/salada-tomate-alface.png" alt="Card image cap">
				   	
				</div>
				  <div class="card-footer text-muted">
				    <a href="#" class="btn btn-success">Entregue</a>
				  </div>
			</div>
		
		</div>
		 <div class="col-md-3">
			<div class="card card-success text-xs-center">
				<div class="card-header">
				  <h3>Porção de Camarão</h3>
				</div>  
				<div class="card-block" style="background: white;">
				  	<img class="card-img-top img-fluid" src="images/porcao-camarao.png" alt="Card image cap">
				</div>
				  <div class="card-footer text-muted">
				    <a href="#" class="btn btn-warning">Preparando</a>
				    <a href="#" class="btn btn-success">Entregue</a>
				  </div>
			</div>
		
		</div>
		
		<div class="col-md-3">
			<div class="card card-success text-xs-center">
				<div class="card-header">
				  <h3>Filé de Frango</h3>
				</div>  
				<div class="card-block" style="background: white;">
				  	<img class="card-img-top img-fluid" src="images/file-frango.png" alt="Card image cap">
				</div>
				  <div class="card-footer text-muted">
				    <a href="#" class="btn btn-warning">Preparando</a>
				    <a href="#" class="btn btn-success">Entregue</a>
				  </div>
			</div>
		
		</div>
	</div>
</div>

